server:
    port: 9000
spring:
    application:
        name: auth
    datasource:
        driver-class-name: org.postgresql.Driver
        url: "jdbc:postgresql://${DB_HOST}:5432/minecraft"
        username: "${DB_USERNAME}"
        password: "${DB_PASSWORD}"
        hikari:
            max-lifetime: 540000
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
    cache:
        type: redis
    data:
        redis:
            host: "${CACHE_HOST}"
            port: "${CACHE_PORT}"
            password: "${CACHE_PASSWORD}"
    security:
        oauth2:
            client:
                registration:
                    google:
                        client-id: "${GOOGLE_CLIENT_ID}"
                        client-secret: "${GOOGLE_CLIENT_SECRET}"
                        scope:
                            - openid
                            - profile
                            - email
                    
                    microsoft:
                        client-id: "${MICROSOFT_CLIENT_ID}"
                        client-secret: "${MICROSOFT_CLIENT_SECRET}"
                        provider: microsoft
                        authorization-grant-type: authorization_code
                        redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
                        scope:
                            - openid
                            - profile
                            - email
                
                provider:
                    microsoft:
                        authorization-uri: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
                        token-uri: https://login.microsoftonline.com/common/oauth2/v2.0/token
                        jwk-set-uri: https://login.microsoftonline.com/common/discovery/v2.0/keys
                        user-name-attribute: name